.combo-box {
  -fx-background-color: transparent;
}

.combo-box .list-cell {
  -fx-font-size: 16;
  -fx-text-fill: white;
  -fx-font-style: italic;
}

.combo-box .list-view .list-cell {
  -fx-font-size: 16;
  -fx-text-fill: white;
  -fx-background-color: black;
}
