.combo-box {
  -fx-background-color: transparent;
  -fx-padding: 25 0 0 25
}

.combo-box .list-cell {
  -fx-font-size: 18;
  -fx-text-fill: white;
  -fx-font-style: italic;
}

.combo-box .list-view .list-cell {
  -fx-font-size: 18;
  -fx-text-fill: white;
  -fx-background-color: black;
}
