#headerLabel {
  -fx-font-size: 56;
  -fx-text-fill: #322F37;
  -fx-padding: 30 0 0 0;
  -fx-font-weight: bold;
}

#subLabel {
  -fx-font-size: 30;
  -fx-text-fill: #322F37;
  -fx-padding: 10 0 0 0;
}

.text-field {
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
  -fx-pref-height: 40;
}

.hbox {
  -fx-padding: 30;
  -fx-pref-width: 9999;
}
.button {
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
  -fx-pref-height: 50;
  -fx-pref-width: 9999;
  -fx-background-color: #277D2F;
  -fx-text-fill: black;
  -fx-font-size: 24;
  -fx-font-weight: bold;
}

